@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #EBE8DE;
  --secondary-color: var(--color-red-950);
  --text-color: #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text-color);
  background: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}
